body {
    background-color: #f4f7fc;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: white;
}

.title {
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.half {
    width: 49%;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #4e73df;
    color: white;
    font-weight: bold;
}

.btn-primary {
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #4e73df;
}

#buttonAdd {
    position: relative;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4e73df;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#buttonAdd:hover {
    background-color: #0a58ca;
    transform: scale(1.05);
}

.btn-secondary,
.modify-button,
.btn-success {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.mt-4 {
    margin-top: 20px;
}

.prettify{
    background-color: #272c36;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 20px;
    margin-left: 360px;
    margin-right: 360px;
}

.form-control {
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.hidden {
    display: none !important;
}

.alert {
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.card-header {
    background-color: #4e73df;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0 0; 
    padding: 15px; 
    
}

.card-body {
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 0 0 10px 10px; 
}

.card-title {
    margin-bottom: 10px;
}

.dest-card {
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

.dropzone {
    border: 2px dashed #ddd;
    padding: 10px;
    min-height: 60px;
    margin-top: 10px;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 8px;
    transition: min-height 0.2s ease-in-out, background-color 0.3s ease, border-color 0.3s ease;
}

.dropzone.dragover {
    border-color: #4e73df;
    background-color: #e6f0ff;
}

.dropzone:before {
    content: "Trascina qui i tuoi elementi";
    color: #888;
    font-size: 16px;
    transition: opacity 0.3s ease;
}

.dropzone.dragover:before {
    opacity: 0; /* Nasconde il testo di istruzione quando un oggetto è sopra */
}

#inputJsonEditor,
#destJsonEditor {
    position: relative;
    max-height: 500px;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#inputJsonEditor .card-body,
#destJsonEditor .card-body {
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 0 0 10px 10px; 
}

#inputJsonStructure,
#destJsonStructure {
    max-height: 350px;
    overflow-y: auto; 
    border: 1px solid #ddd;
    border-radius: 10px; 
    background-color: #ffffff; 
    border: none;
}

#modalText {
    background-color: #f9f9f9;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-dialog {
    max-width: 600px;
    margin: 0 auto;
}

.draggable-item {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.draggable-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
    transform: scale(1.001) !important;
}

.object-container,
.array-container {
    display: flex;
    flex-direction: column;
    
}

.containerTable {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
}

.table-bordered {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

.table-bordered thead th {
    background-color: #4e73df;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border: none;
    text-align: center;
    vertical-align: middle;
}

.table-bordered thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.table-bordered thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.table-bordered tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-bordered tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table-bordered tbody td {
    padding: 10px 15px;
    vertical-align: middle;
    border: 1px solid #e3e6f0;
    background-color: #ffffff;
}

.table-bordered tbody tr:hover {
    background-color: #f4f7fc;
}

.table-bordered .btn {
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 14px;
    margin: 2px;
}

.table-bordered tbody tr:nth-child(even) {
    background-color: #f8f9fc;
}

@media (max-width: 768px) {
    .table-bordered {
        display: block;
        overflow-x: auto;
    }
}

.navbar-brand {
    font-weight: 700;
    color: #4e73df !important;
}

.nav-link {
    color: #4e73df !important;
}
